name: Android Production Release

on:
  push:
    tags:
      - 'v*'  # Trigger only on tags starting with "v"

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Decode keystore
        run: |
          echo "${{ secrets.SPARKREADER_STORE_FILE_BASE64 }}" | base64 --decode > app/release.keystore

      - name: Inject signing config into gradle.properties
        run: |
          set -euo pipefail
          
          FILE="gradle.properties"
          
          # Inject or update a key in-place
          update_or_insert() {
            local key="$1"
            local value="$2"
            if grep -q "^$key=" "$FILE"; then
              sed -i "s|^$key=.*|$key=$value|" "$FILE"
            else
              echo "$key=$value" >> "$FILE"
            fi
          }
          
          update_or_insert "SPARKREADER_STORE_PASSWORD" "${{ secrets.SPARKREADER_STORE_PASSWORD }}"
          update_or_insert "SPARKREADER_KEY_PASSWORD" "${{ secrets.SPARKREADER_KEY_PASSWORD }}"

      - name: Build release APK
        run: |
          ./gradlew assembleRelease
#          ./gradlew assembleRelease || true
#          ls -l app/build/outputs/apk/release/app-release.apk || true
#          cat /home/runner/work/sparkreader/sparkreader/app/build/outputs/mapping/release/missing_rules.txt || true

#      - name: a debug step
#        run: |
#          ls -l app/build/outputs/apk/release/app-release.apk || true
#          cat /home/runner/work/sparkreader/sparkreader/app/build/outputs/mapping/release/missing_rules.txt || true

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: Release ${{ github.ref_name }}
          generate_release_notes: true
          files: app/build/outputs/apk/release/app-release.apk
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
