name: Android Production Release

on:
  push:
    tags:
      - 'v*'  # Trigger only on tags starting with "v"

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Decode keystore
        run: |
          echo "${{ secrets.SPARKREADER_STORE_FILE_BASE64 }}" | base64 --decode > app/release.keystore

      - name: Create gradle.secrets.properties
        run: |
          cat > gradle.secrets.properties << EOF
          SPARKREADER_STORE_FILE=release.keystore
          SPARKREADER_STORE_PASSWORD=${{ secrets.SPARKREADER_STORE_PASSWORD }}
          SPARKREADER_KEY_ALIAS=sparkreader
          SPARKREADER_KEY_PASSWORD=${{ secrets.SPARKREADER_KEY_PASSWORD }}
          EOF

      - name: Build release APK
        run: |
          ./gradlew assembleRelease

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: Release ${{ github.ref_name }}
          generate_release_notes: true
          files: app/build/outputs/apk/release/app-release.apk
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
